{% extends 'EiflAdminBundle::layout.html.twig' %}

{% block title 'EIFL Admin' %}

{% block admin_content %}
	<center>
		<h3>Welcome To EIFL Admin Page!</h3>
		Please choose a menu on the left side to continue.</br>
	</center>
{% endblock %}